<<<<<<< HEAD
/* html.body{
    margin: 0;
    padding: 0;
    background-color: blueviolet;
} */
html,body{
    margin: 0;
    padding: 0;
    background-color: bisque;
=======
html,body{
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}
h1{
    text-align: center;
>>>>>>> login
}